<%= form_with model: [:booking, event] do |form| %> 
  <div class="row">
    <div class="col-lg-4 mb-3">
      <div class="form-group">
        <%= form.label :images, class: "mb-2" %>
        <%= form.file_field :images, multiple: true, class: "form-control form-control-lg rounded-0" %>
        <% @event.errors.full_messages_for(:title).each do |message| %>
        <p class="text-danger"><%= message%></p>
        <% end %>
      </div>        
    </div>
    <div class="col-lg-4 mb-3">
      <div class="form-group">
        <%= form.label :title, class: "mb-2" %>
        <%= form.text_field :title, class: "form-control form-control-lg rounded-0" %>
        <% @event.errors.full_messages_for(:title).each do |message| %>
        <p class="text-danger"><%= message%></p>
        <% end %>
      </div>        
    </div>
    <div class="col-lg-4 mb-3">
      <div class="form-group">
        <%= form.label :description, class: "mb-2" %>
        <%= form.text_area :description, class: "form-control form-control-lg rounded-0" %>
        <% @event.errors.full_messages_for(:description).each do |message| %>
        <p class="text-danger"><%= message%></p>
        <% end %>
      </div>        
    </div>
    <div class="col-lg-4 mb-3">
      <div class="form-group">
        <%= form.label :location, class: "mb-2" %>
        <%= form.text_field :location, class: "form-control form-control-lg rounded-0" %>
        <% @event.errors.full_messages_for(:location).each do |message| %>
        <p class="text-danger"><%= message%></p>
        <% end %>
      </div>        
    </div>
    <div class="col-lg-4 mb-3">
      <div class="form-group">
        <%= form.label :date, class: "mb-2" %>
        <%= form.date_field :date, class: "form-control form-control-lg rounded-0" %>
        <% @event.errors.full_messages_for(:date).each do |message| %>
        <p class="text-danger"><%= message%></p>
        <% end %>
      </div>        
    </div>
    <div class="col-lg-4 mb-3">
      <div class="form-group">
        <%= form.label :time, class: "mb-2" %>
        <%= form.time_field :time, class: "form-control form-control-lg rounded-0 b-form-timepicker" %>
        <% @event.errors.full_messages_for(:time).each do |message| %>
        <p class="text-danger"><%= message%></p>
        <% end %>
      </div>        
    </div>
    <div class="col-lg-4 mb-3">
      <div class="form-group">
        <%= form.label :ticket_price, class: "mb-2" %>
        <%= form.text_field :ticket_price, class: "form-control form-control-lg rounded-0" %>
        <% @event.errors.full_messages_for(:ticket_price).each do |message| %>
        <p class="text-danger"><%= message%></p>
        <% end %>
      </div>        
    </div>
    <div class="col-lg-4 mb-3">
      <div class="form-group">
        <%= form.label :available_ticket, class: "mb-2" %>
        <%= form.text_field :available_ticket, class: "form-control form-control-lg rounded-0" %>
        <% @event.errors.full_messages_for(:available_ticket).each do |message| %>
        <p class="text-danger"><%= message%></p>
        <% end %>
      </div>        
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 mt-4">
      <%= form.submit class: "btn btn-primary rounded-0" %>
      <%= link_to "Back to Event", booking_events_path, class: "btn btn-outline-primary rounded-0" %>
    </div>
  </div>
<% end %>

